<h1 style="text-align: center;">CS3802 Machine Learning Algorithms Lab : Ex 6</h1>
<h2 style="text-align: center;">21011102079</h2>

In [1]:
import pandas as pd

In [2]:
data  = pd.read_csv(r"D:/snu/academic/sem6/ML_Lab/Lab6/Telco-Customer-Churn.csv")

# Data Pre-Processing

In [3]:
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
data.drop(['customerID'], axis=1, inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [6]:
null_values_count = data.isnull().sum()

print("Number of null values in each column:")
print(null_values_count)

Number of null values in each column:
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## the **TotalCharges** column contains null values and they might not be immediately visible in the output of data.info() and isnull() because it doesn't explicitly show the null values since it is of type Object and data present in is numeric.

In [7]:
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

In [8]:
null_values_count = data.isnull().sum()

print("Number of null values in each column:")
print(null_values_count)

Number of null values in each column:
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [9]:
data.dropna(subset=['TotalCharges'], inplace=True)

In [10]:
null_values_count = data.isnull().sum()

print("Number of null values in each column:")
print(null_values_count)

Number of null values in each column:
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [11]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
data.replace({'Yes': 1, 'No': 0, 'No phone service': 0, 'No internet service': 0}, inplace=True)

In [13]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   int64
 3   Dependents        7032 non-null   int64
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   int64
 6   MultipleLines     7032 non-null   int64
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   int64
 9   OnlineBackup      7032 non-null   int64
 10  DeviceProtection  7032 non-null   int64
 11  TechSupport       7032 non-null   int64
 12  StreamingTV       7032 non-null   int64
 13  StreamingMovies   7032 non-null   int64
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   int64
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   int64
dtypes: float64(2), int64(14), object(4)
memory usage: 1.1+ MB

In [15]:
object_columns = data.select_dtypes(include=['object']).columns

for column in object_columns:
    data = pd.get_dummies(data, columns=[column], drop_first=True, dtype=int)

In [16]:
last_column = data.pop("Churn")
data["Churn"] = last_column

In [17]:
pd.set_option('display.max_columns', None)
data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,gender_Male,InternetService_DSL,InternetService_Fiber optic,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,0,1,0,1,0,0,0,1,0,0,0,0,1,29.85,29.85,0,1,0,0,0,0,1,0,0
1,0,0,0,34,1,0,1,0,1,0,0,0,0,56.95,1889.50,1,1,0,1,0,0,0,1,0
2,0,0,0,2,1,0,1,1,0,0,0,0,1,53.85,108.15,1,1,0,0,0,0,0,1,1
3,0,0,0,45,0,0,1,0,1,1,0,0,0,42.30,1840.75,1,1,0,1,0,0,0,0,0
4,0,0,0,2,1,0,0,0,0,0,0,0,1,70.70,151.65,0,0,1,0,0,0,1,0,1

## Some machine learning algorithms are sensitive to the scale of the input features. Feature scaling ensures that all features contribute equally to the model. It standardizes or normalizes the range of independent variables or features of the dataset.

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data[['tenure', 'MonthlyCharges', 'TotalCharges']] = scaler.fit_transform(data[['tenure', 'MonthlyCharges', 'TotalCharges']])

In [19]:
data.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,gender_Male,InternetService_DSL,InternetService_Fiber optic,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,0,1,0,-1.280248,0,0,0,1,0,0,0,0,1,-1.161694,-0.994194,0,1,0,0,0,0,1,0,0
1,0,0,0,0.064303,1,0,1,0,1,0,0,0,0,-0.260878,-0.173740,1,1,0,1,0,0,0,1,0
2,0,0,0,-1.239504,1,0,1,1,0,0,0,0,1,-0.363923,-0.959649,1,1,0,0,0,0,0,1,1
3,0,0,0,0.512486,0,0,1,0,1,1,0,0,0,-0.747850,-0.195248,1,1,0,1,0,0,0,0,0
4,0,0,0,-1.239504,1,0,0,0,0,0,0,0,1,0.196178,-0.940457,0,0,1,0,0,0,1,0,1

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7032 non-null   int64
 1   Partner                                7032 non-null   int64
 2   Dependents                             7032 non-null   int64
 3   tenure                                 7032 non-null   float64
 4   PhoneService                           7032 non-null   int64
 5   MultipleLines                          7032 non-null   int64
 6   OnlineSecurity                         7032 non-null   int64
 7   OnlineBackup                           7032 non-null   int64
 8   DeviceProtection                       7032 non-null   int64
 9   TechSupport                            7032 non-null   int64
 10  StreamingTV                            7032 non-null   int64
 11  StreamingMovies                        7032 non-null   int64
 12  PaperlessBilling                       7032 non-null   int64
 13  MonthlyCharges                         7032 non-null   float64
 14  TotalCharges                           7032 non-null   float64
 15  gender_Male                            7032 non-null   int32
 16  InternetService_DSL                    7032 non-null   int32
 17  InternetService_Fiber optic            7032 non-null   int32
 18  Contract_One year                      7032 non-null   int32
 19  Contract_Two year                      7032 non-null   int32
 20  PaymentMethod_Credit card (automatic)  7032 non-null   int32
 21  PaymentMethod_Electronic check         7032 non-null   int32
 22  PaymentMethod_Mailed check             7032 non-null   int32
 23  Churn                                  7032 non-null   int64
dtypes: float64(3), int32(8), int64(13)
memory usage: 1.1 MB

# Train Test Split

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = data.drop('Churn', axis=1)
Y = data['Churn']

# VIF

In [23]:
X['intercept'] = 1
vif = pd.DataFrame()
vif['variable']= X.columns

In [24]:
vif

                                 variable
0                           SeniorCitizen
1                                 Partner
2                              Dependents
3                                  tenure
4                            PhoneService
5                           MultipleLines
6                          OnlineSecurity
7                            OnlineBackup
8                        DeviceProtection
9                             TechSupport
10                            StreamingTV
11                        StreamingMovies
12                       PaperlessBilling
13                         MonthlyCharges
14                           TotalCharges
15                            gender_Male
16                    InternetService_DSL
17            InternetService_Fiber optic
18                      Contract_One year
19                      Contract_Two year
20  PaymentMethod_Credit card (automatic)
21         PaymentMethod_Electronic check
22             PaymentMethod_Mailed check
23                              intercept

In [25]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [26]:
vif['vif'] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]

In [27]:
vif

                                 variable          vif
0                           SeniorCitizen     1.153220
1                                 Partner     1.462988
2                              Dependents     1.381598
3                                  tenure     7.584453
4                            PhoneService    34.893857
5                           MultipleLines     7.289761
6                          OnlineSecurity     6.338349
7                            OnlineBackup     6.796678
8                        DeviceProtection     6.924754
9                             TechSupport     6.476508
10                            StreamingTV    24.080019
11                        StreamingMovies    24.156394
12                       PaperlessBilling     1.208455
13                         MonthlyCharges   866.089640
14                           TotalCharges    10.811490
15                            gender_Male     1.002106
16                    InternetService_DSL   138.718618
17            InternetService_Fiber optic   592.296922
18                      Contract_One year     1.625784
19                      Contract_Two year     2.652328
20  PaymentMethod_Credit card (automatic)     1.560999
21         PaymentMethod_Electronic check     1.976032
22             PaymentMethod_Mailed check     1.857058
23                              intercept  4048.089006

In [28]:
X = X.drop(['MonthlyCharges'], axis=1)

In [29]:
vif = pd.DataFrame()
vif['variable']= X.columns 
vif['vif'] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif

                                 variable        vif
0                           SeniorCitizen   1.153190
1                                 Partner   1.462535
2                              Dependents   1.381538
3                                  tenure   7.572242
4                            PhoneService   1.423829
5                           MultipleLines   1.456648
6                          OnlineSecurity   1.480218
7                            OnlineBackup   1.475759
8                        DeviceProtection   1.546846
9                             TechSupport   1.541417
10                            StreamingTV   1.723829
11                        StreamingMovies   1.738445
12                       PaperlessBilling   1.208361
13                           TotalCharges  10.781958
14                            gender_Male   1.001975
15                    InternetService_DSL   3.663364
16            InternetService_Fiber optic   4.951040
17                      Contract_One year   1.625763
18                      Contract_Two year   2.652316
19  PaymentMethod_Credit card (automatic)   1.560998
20         PaymentMethod_Electronic check   1.975991
21             PaymentMethod_Mailed check   1.856890
22                              intercept  41.144765

In [30]:
X = X.drop(['TotalCharges'], axis=1)

In [31]:
vif = pd.DataFrame()
vif['variable']= X.columns 
vif['vif'] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif

                                 variable        vif
0                           SeniorCitizen   1.153168
1                                 Partner   1.462369
2                              Dependents   1.380811
3                                  tenure   2.827609
4                            PhoneService   1.354768
5                           MultipleLines   1.423682
6                          OnlineSecurity   1.415235
7                            OnlineBackup   1.380823
8                        DeviceProtection   1.480118
9                             TechSupport   1.481353
10                            StreamingTV   1.625973
11                        StreamingMovies   1.634755
12                       PaperlessBilling   1.208329
13                            gender_Male   1.001769
14                    InternetService_DSL   3.584572
15            InternetService_Fiber optic   4.103973
16                      Contract_One year   1.625660
17                      Contract_Two year   2.633220
18  PaymentMethod_Credit card (automatic)   1.560625
19         PaymentMethod_Electronic check   1.973648
20             PaymentMethod_Mailed check   1.837890
21                              intercept  31.042283

In [32]:
X = X.drop(['InternetService_Fiber optic'], axis=1)

In [33]:
vif = pd.DataFrame()
vif['variable']= X.columns 
vif['vif'] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif

                                 variable        vif
0                           SeniorCitizen   1.142581
1                                 Partner   1.462257
2                              Dependents   1.376249
3                                  tenure   2.818169
4                            PhoneService   1.354060
5                           MultipleLines   1.386625
6                          OnlineSecurity   1.346064
7                            OnlineBackup   1.318710
8                        DeviceProtection   1.428875
9                             TechSupport   1.435705
10                            StreamingTV   1.578208
11                        StreamingMovies   1.588240
12                       PaperlessBilling   1.170767
13                            gender_Male   1.001679
14                    InternetService_DSL   1.567197
15                      Contract_One year   1.532451
16                      Contract_Two year   2.344230
17  PaymentMethod_Credit card (automatic)   1.560429
18         PaymentMethod_Electronic check   1.948690
19             PaymentMethod_Mailed check   1.801103
20                              intercept  27.232616

In [34]:
X = X.drop(['intercept'], axis=1)

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state = 45)

## Import acuuracy_score

In [36]:
from sklearn.metrics import accuracy_score

# 1. Decision Trees

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [38]:
dt = DecisionTreeClassifier()
dt.fit(X_train, Y_train)
#dt_pred = dt.predict(X_test)
#dt_accuracy = accuracy_score(Y_test, dt_pred)
#print(f"Decision Trees Accuracy: {dt_accuracy:.2f}")
dt_accuracy = dt.score(X_test, Y_test)
dt.score(X_test, Y_test)

0.7109004739336493

# 2. Support Vector Machine (SVM)

In [39]:
from sklearn.svm import SVC

In [40]:
svm = SVC()
svm.fit(X_train, Y_train)
#svm_pred = svm.predict(X_test)
#svm_accuracy = accuracy_score(Y_test, svm_pred)
#print(f"SVM Accuracy: {svm_accuracy:.2f}")
svm_accuracy = svm.score(X_test, Y_test)
svm.score(X_test, Y_test)

0.7919431279620853

# 3. Random Forest

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
rfc = RandomForestClassifier(n_estimators=100, criterion='gini',random_state=0)
rfc.fit(X_train,Y_train)
#rfc_pred = rfc.predict(X_test) 
#rfc_accuracy = accuracy_score(Y_test, rfc_pred)
#print(f"Random Forest Accuracy: {rfc_accuracy:.2f}")
rfc_accuracy = rfc.score(X_test, Y_test)
rfc.score(X_test, Y_test)

0.7872037914691943

# 4. Boosting

In [43]:
from sklearn.ensemble import GradientBoostingClassifier

In [44]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(X_train, Y_train)
#clf_pred = clf.predict(X_test) 
#clf_accuracy = accuracy_score(Y_test, clf_pred)
#print(f"Random Forest Accuracy: {clf_accuracy:.2f}")
clf_accuracy = clf.score(X_test, Y_test)
clf.score(X_test, Y_test)

0.7890995260663507

# Accuracy Score Comparison

In [45]:
print(f"Decision Trees     : {dt_accuracy} Accuracy")
print(f"SVM                : {svm_accuracy} Accuracy")
print(f"Random Forest      : {rfc_accuracy} Accuracy")
print(f"Gradient Boosting  : {clf_accuracy} Accuracy")

Decision Trees     : 0.7109004739336493 Accuracy
SVM                : 0.7919431279620853 Accuracy
Random Forest      : 0.7872037914691943 Accuracy
Gradient Boosting  : 0.7890995260663507 Accuracy

# randomizedsearchCV & gridsearchCV

In [46]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

## Decision Trees

In [47]:
param = {'max_depth':[4,5,6,7,8,9,10], 
        'criterion':['gini','entropy'],
        'splitter' :['best', 'random'],
        "max_features": [1,2,3,4,5,6,7,8,9],
        "min_samples_leaf": [1,2,3,4,5,6,7,8,9],
        }

### RSCV Decision Trees

In [48]:
tree = DecisionTreeClassifier(random_state=0)
tree_rscv = RandomizedSearchCV(tree, param, n_jobs=-1)
tree_rscv.fit(X_train,Y_train)
print(tree_rscv.best_params_)

{'splitter': 'best', 'min_samples_leaf': 4, 'max_features': 8, 'max_depth': 6, 'criterion': 'gini'}

In [67]:
dt = DecisionTreeClassifier(criterion= 'gini', max_depth= 8, max_features= 6, min_samples_leaf= 4, splitter= 'best')
dt.fit(X_train, Y_train)
dt.score(X_test, Y_test)

0.7734597156398104

### GSCV Decision Trees

In [50]:
tree = DecisionTreeClassifier(random_state=0)
tree_gscv =  GridSearchCV(tree,param,cv=10, n_jobs=-1)
tree_gscv.fit(X_train,Y_train)
print(tree_gscv.best_params_)

{'criterion': 'entropy', 'max_depth': 8, 'max_features': 9, 'min_samples_leaf': 8, 'splitter': 'best'}

In [51]:
dt = DecisionTreeClassifier(criterion= 'entropy', max_depth= 8, max_features= 9, min_samples_leaf= 8, splitter= 'best')
dt.fit(X_train, Y_train)
dt.score(X_test, Y_test)

0.7739336492890996

## Support Vector Machine (SVM)

In [52]:
param = {'C': [0.1, 1, 10, 100, 1000],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],}

### RSCV SVM

In [53]:
svm = SVC()
svm_rscv = RandomizedSearchCV(svm, param, n_jobs=-1)
svm_rscv.fit(X_train,Y_train)
print(svm_rscv.best_params_)

{'gamma': 0.01, 'C': 10}

In [68]:
svm = SVC( gamma = 0.01, C = 10)
svm.fit(X_train, Y_train)
svm.score(X_test, Y_test)

0.7938388625592417

### GSCV SVM

In [55]:
svm = SVC()
svm_gscv = GridSearchCV(svm, param, n_jobs=-1)
svm_gscv.fit(X_train,Y_train)
print(svm_gscv.best_params_)

{'C': 100, 'gamma': 0.01}

In [56]:
svm = SVC( gamma = 0.01, C = 100)
svm.fit(X_train, Y_train)
svm.score(X_test, Y_test)

0.795260663507109

## Random Forest

In [57]:
param = {'n_estimators':[50,75,100,125,200], 
        'criterion':['gini','entropy'], 
        'bootstrap':[True, False]}

### RSCV Random Forest

In [58]:
rf =  RandomForestClassifier(random_state=0)
rf_rscv = RandomizedSearchCV(rf, param, n_jobs=-1)
rf_rscv.fit(X_train,Y_train)
print(rf_rscv.best_params_)

{'n_estimators': 125, 'criterion': 'entropy', 'bootstrap': True}

In [69]:
rfc = RandomForestClassifier(n_estimators=125, criterion='entropy',random_state=0,bootstrap = True)
rfc.fit(X_train,Y_train)
rfc_accuracy = rfc.score(X_test, Y_test)
rfc.score(X_test, Y_test)

0.7848341232227488

### GSCV Random Forest

In [60]:
rf =  RandomForestClassifier(random_state=0)
rf_gscv = GridSearchCV(rf, param, n_jobs=-1)
rf_gscv.fit(X_train,Y_train)
print(rf_gscv.best_params_)

{'bootstrap': True, 'criterion': 'entropy', 'n_estimators': 100}

In [61]:
rfc = RandomForestClassifier(n_estimators=100, criterion='entropy',random_state=0,bootstrap = True)
rfc.fit(X_train,Y_train)
rfc_accuracy = rfc.score(X_test, Y_test)
rfc.score(X_test, Y_test)

0.785781990521327

## Boosting

In [62]:
param = {'max_depth'    : [2,3,4,5,6,7],
        'learning_rate':[0.15,0.1,0.05,0.01,0.005,0.001],
        'n_estimators':[100,250,500,750]
        }

### RSCV Boosting

In [63]:
clf = GradientBoostingClassifier(random_state=0)
clf_rscv = RandomizedSearchCV(estimator=clf, param_distributions = param, n_jobs=-1)
clf_rscv.fit(X_train, Y_train)
print(clf_rscv.best_params_)

{'n_estimators': 750, 'max_depth': 2, 'learning_rate': 0.05}

In [70]:
clf = GradientBoostingClassifier(n_estimators=750, learning_rate=0.05,max_depth=2, random_state=0).fit(X_train, Y_train)
clf_accuracy = clf.score(X_test, Y_test)
clf.score(X_test, Y_test)

0.7933649289099526

### GSCV Boosting

In [65]:
clf = GradientBoostingClassifier(random_state=0)
clf_gscv = GridSearchCV(clf, param, n_jobs=-1)
clf_gscv.fit(X_train, Y_train)
print(clf_gscv.best_params_)

{'learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 500}

In [66]:
clf = GradientBoostingClassifier(n_estimators=500, learning_rate=0.01,max_depth=5, random_state=0).fit(X_train, Y_train)
clf_accuracy = clf.score(X_test, Y_test)
clf.score(X_test, Y_test)

0.7933649289099526